h1,
h2 {
    color: #16a313;
}

.footer-background {
    background-color: #16a313;
}

h5 {
    color: white !important;
}

a {

    cursor: pointer;

}

.download {
    text-decoration: underline;
    font-size: 1.3rem;
    color: #16a313;
}

.social-media-button {
    margin: 1em;
}

.subsection {
    font-size: 1.3rem;
    color: #16a313;
}

.dicitura {
    color: gray;
    font-style: italic;
    text-align: center;

}